# Django #

# Archivos de registro
*.log

# Archivos de traducción
*.pot

# Archivos compilados de Python
*.pyc
__pycache__

# Base de datos SQLite
db.sqlite3

# Archivos de multimedia
media

# Archivos de respaldo
*.bak 

# Si estás usando PyCharm # 
# Archivos específicos del usuario
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Archivos específicos de AWS
.idea/**/aws.xml

# Archivos generados
.idea/**/contentModel.xml

# Archivos sensibles o de alto cambio
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Formato de proyecto basado en archivos
*.iws

# IntelliJ
out/

# Plugin de JIRA
atlassian-ide-plugin.xml

# Python # 
*.py[cod] 
*$py.class 

# Distribución / empaquetamiento
.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 

# Archivos de registro del instalador
pip-log.txt 
pip-delete-this-directory.txt 

# Informes de prueba / cobertura
htmlcov/ 
.tox/ 
.coverage 
.coverage.* 
.cache 
.pytest_cache/ 
nosetests.xml 
coverage.xml 
*.cover 
.hypothesis/ 

# Notebook de Jupyter
.ipynb_checkpoints 

# pyenv 
.python-version 

# celery 
celerybeat-schedule.* 

# Archivos parseados de SageMath
*.sage.py 

# Entornos
.env 
.venv 
env/
venv 
venv/*
ENV/ 
env.bak/ 
venv.bak/ 

# Documentación de mkdocs
/site 

# mypy 
.mypy_cache/ 

# Sublime Text # 
*.tmlanguage.cache 
*.tmPreferences.cache 
*.stTheme.cache 
*.sublime-workspace 
*.sublime-project 

# Archivo de configuración de sftp
sftp-config.json 

# Archivos específicos de Package Control
Control.last-run 
Control.ca-list 
Control.ca-bundle 
Control.system-ca-bundle 
GitHub.sublime-settings 

# Visual Studio Code # 
.vscode
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Archivos a ignorar
*.cpython*.pyc
*controller.cpython-310.pyc
__init__.py
