<!-- Footer -->
<footer class="text-white bg-body-tertiary bg-dark text-center">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a data-mdb-ripple-init class="text-white btn btn-outline btn-floating m-1" href="#!" role="button"
          >Facebook<i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a data-mdb-ripple-init class="text-white btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        >Twitter</a>
  
        <!-- Google -->
        <a data-mdb-ripple-init class="text-white btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        >Google</a>
  
        <!-- Instagram -->
        <a data-mdb-ripple-init class="text-white btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        >Instagram</a>
  
        <!-- Linkedin -->
        <a data-mdb-ripple-init class="text-white btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        >Linkedin</a>
  
        <!-- Github -->
        <a data-mdb-ripple-init class="text-white btn btn-outline btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        >Github</a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form5Example24" class="form-control" />
                <label class="form-label" for="form5Example24">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section>
        <p class="mb-0">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
          repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam eum
          harum corrupti dicta, aliquam sequi voluptate quas.
        </p>
      </section>
    <!-- Grid container -->
  
  </footer>
  