
<!-- Grid container -->
<div class="container pb-0">
  <!-- Section: Social media -->
  <section class="mb-4">
    <!-- Instagram -->
    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/gurjant_002/" role="button"
      ><i class="bi bi-instagram"> Instagram</i
    ></a>

    <!-- Linkedin -->
    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://es.linkedin.com/in/gurjant-singh-789254270" role="button"
      ><i class="bi bi-linkedin"> Linkedin</i
    ></a>

    <!-- Github -->
    <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/Gurjant002" role="button">
      <i class="bi bi-github"> Github</i>
    </a>
  </section>
  <!-- Section: Social media -->
</div>
<!-- Grid container -->

<!-- Copyright -->
<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  © 2024 Copyright: Gurjant SL
</div>
<!-- Copyright -->