<div>
    <div class="p-2 my-3 m-auto bg-dark rounded panel-nav w-75 responsive">
        <div class=" d-flex">
            <a href="{% url 'home' %}"
                class="list-group-item list-group-item-action btn-outline-light bg-dark text-white me-2">Home</a>
            <a href="#" class="list-group-item list-group-item-action panel_nav_opc btn-outline-light bg-dark text-white me-2"
                data-bs-toggle="collapse" data-bs-target="#apartado1" aria-expanded="false"
                aria-controls="apartado1">Puestos</a>
            <!-- <a href="#" class="list-group-item list-group-item-action panel_nav_opc btn-outline-light bg-dark text-white me-2"
                data-bs-toggle="collapse" data-bs-target="#apartado2" aria-expanded="false"
                aria-controls="apartado2">Apartado</a> -->
            <a href="#" class="list-group-item list-group-item-action panel_nav_opc btn-outline-light bg-dark text-white me-2"
                data-bs-toggle="collapse" data-bs-target="#administrar" aria-expanded="false"
                aria-controls="administrar">Administrar</a>
        </div>
        <div class="collapse" id="apartado1">
            <div class="d-flex">
                <a href="{% url 'camarero_home' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Camarero</a>
                <a href="{% url 'cocina' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Cocina</a>
                <a href="#"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Barra</a>
            </div>
        </div>
        <div class="collapse" id="apartado2">
            <div class="d-flex">
                <a href="#"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Sub-item
                    1</a>
                <a href="#"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Sub-item
                    2</a>
            </div>
        </div>
        <div class="collapse" id="administrar">
            <div class="d-flex">
                <a href="{% url 'admin_platos' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Plato</a>
                <a href="{% url 'admin_bebidas' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Bebida</a>
                <a href="{% url 'admin_categorias' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Categoria</a>
                <a href="{% url 'admin_ubicaciones' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Ubicacion</a>
                <a href="{% url 'admin_trabajadores' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Trabajadores</a>
                <!-- <a href=""
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Configuración</a> -->
            </div>
        </div>
        <!-- <div class="collapse" id="trabajadores">
            <div class="d-flex">
                <a href="{% url 'admin_camareros' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Camarero</a>
                <a href="{% url 'admin_trabajadores' %}"
                    class="list-group-item mt-1 list-group-item-action btn-outline-light bg-dark text-white me-2">Trabajadores</a>
            </div>
        </div> -->
    </div>
</div>