{% extends 'index.html' %}

{% block title %} Categorias {% endblock title %}
{% block content %}

{% include 'global/header.html' %}
{% include 'global/panel_nav.html' %}

<div class="container pb-5 mb-5">
    <div class="panel_insertar bg-dark rounded row mb-3">
        <h1 id="titulo-seccion-superior" class="text-light">Nueva Categoria</h1>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg">
                    <div class="form-floating">
                        <div class="form-floating mb-3 d-flex flex-row">
                            <input type="text" class="form-control" id="floatingCategoria" required="true" name="nombre"
                                placeholder="Nombre">
                            <label for="floatingCategoria" class="text-dark">Nombre de categoria</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- POSICIONAR LOS BOTONES EN PARALELO CON EL NOMBRE -->
            <div class="p-3">
                <button class="btn btn-primary" name="new-categoria" id="btn-submit" value="insertar_categoria"
                    type="submit">Guardar Categoria</button>
                <button class="btn btn-primary" name="update-categoria" id="btn_update_categoria" value="update_categoria_"
                    type="submit" style="display: none;">Actualizar categoria</button>
            </div>
        </form>
    </div>

    <div class="panel_listado bg-dark rounded row">
        <h1 class="text-light">LISTADO</h1>
        <div class="p-2">
            <table id="listado" class="text-center table table-dark table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
                {% if categorias %}
                {% for item in categorias %}
                <tr class="text-white" id="fila-{{ item.id }}">
                    <td id="campo-id-{{ item.id }}">{{ item.id}}</td>
                    <td id="campo-nombre-{{ item.id }}">{{ item.nombre }}</td>
                    <form method="POST">
                        {% csrf_token %}
                        <td id="boton-editar-{{ item.id }}"><button class="btn btn-info" type="button"
                                id="editar|{{ item.id}}" name="editar-btn"
                                onclick="editarCategoria('{{ item.id }}')">Editar</button></td>
                        <td id="boton-borrar-{{ item.id }}"><button class="btn btn-danger" type="submit"
                                value="eliminar|{{ item.id}}" name="eliminar" data-bs-toggle="tooltip"
                                data-bs-placement="top"
                                title="Se aconseja desactivar el plato, en vez de borrarlo, permanentemente">Eliminar</button>
                        </td>
                    </form>
                </tr>
                {% endfor %}
                {% else %}
                <div class="container my-auto">
                    <h3 class="text-warning">¡No hay bebidas en tu menu!</h3>
                </div>
                {% endif %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}
    