{% extends 'index.html' %} {% block content %} {% include 'global/header.html'%} {% include 'global/panel_nav.html' %}

<div class="container mb-5">

  <div class="panel_insertar py-3 bg-dark rounded row">
    <div class="m-auto col-12 col-md-6 col-lg-4 mb-3">
      <div class="card text-center h-100">
        <div class="card-body">
          <h3 class="card-title">Terraza</h3>
          <p class="card-text">Modifique el numero total de mesas en la terraza a crear.</p>

          <form method="POST" class="my-2">
            {% csrf_token %}
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">#Numero total de mesas</span>
              <input
                type="number"
                class="form-control"
                placeholder="Numero: {{ total_out }}"
                aria-label="Numero total de mesas"
                aria-describedby="basic-addon1"
                value="{{ total_out }}"
                name="numero_mesas"
              />
            </div>
            <button type="submit" name="btn" value="OUT" class="btn btn-primary">Modificar</>
          </form>
        </div>
      </div>
    </div>
    <div class="m-auto col-12 col-md-6 col-lg-4 mb-3">
      <div class="card text-center h-100">
        <div class="card-body">
          <h3 class="card-title">Interior</h3>
          <p class="card-text">Modifique el numero total de mesas en el interior a crear.</p>

          <form method="POST" class="my-2">
            {% csrf_token %}
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1">#Numero total de mesas</span>
              <input
                type="number"
                class="form-control"
                placeholder="Numero: {{ total_in }}"
                aria-label="Numero total de mesas"
                aria-describedby="basic-addon1"
                value="{{ total_in }}"
                name="numero_mesas"
              />
            </div>
            <button type="submit" name="btn" value="IN" class="btn btn-primary">Modificar</>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
