<input type="radio" class="btn-check" name="categoria" id="btn-in-desayuno" autocomplete="off" value="Tapas">
                <label class="btn btn-outline-primary" for="btn-in-desayuno">Tapas</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-almuerzo" autocomplete="off" value="Ensaladas">
                <label class="btn btn-outline-primary" for="btn-in-almuerzo">Ensaladas</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-cena" autocomplete="off" value="Piadinas">
                <label class="btn btn-outline-primary" for="btn-in-cena">Piadinas</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-aperitivo" autocomplete="off" value="Pizzas">
                <label class="btn btn-outline-primary" for="btn-in-aperitivo">Pizzas</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-postre" autocomplete="off" value="Riggattoni">
                <label class="btn btn-outline-primary" for="btn-in-postre">Riggattoni</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-bebida" autocomplete="off" value="Espagetti">
                <label class="btn btn-outline-primary" for="btn-in-bebida">Espagetti</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-entrada" autocomplete="off" value="Tagliatele">
                <label class="btn btn-outline-primary" for="btn-in-entrada">Tagliatele</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-tapas" autocomplete="off" value="Ravioli">
                <label class="btn btn-outline-primary" for="btn-in-tapas">Ravioli</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-snack" autocomplete="off" value="Tortolloni">
                <label class="btn btn-outline-primary" for="btn-in-snack">Tortolloni</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-otro" autocomplete="off" value="Gnocci">
                <label class="btn btn-outline-primary" for="btn-in-otro">Gnocci</label>

                <input type="radio" class="btn-check" name="categoria" id="btn-in-alhorno" autocomplete="off" value="AlHorno">
                <label class="btn btn-outline-primary" for="btn-in-alhorno">Al&nbsp;Horno</label>
                
                <input type="radio" class="btn-check" name="categoria" id="btn-in-bocadillos" autocomplete="off" value="Bocadillos">
                <label class="btn btn-outline-primary" for="btn-in-bocadillos">Bocadillos</label>
                
                <input type="radio" class="btn-check" name="categoria" id="btn-in-platos" autocomplete="off" value="Platos">
                <label class="btn btn-outline-primary" for="btn-in-platos">Platos</label>
                
                <input type="radio" class="btn-check" name="categoria" id="btn-in-sandwich" autocomplete="off" value="Sandwich">
                <label class="btn btn-outline-primary" for="btn-in-sandwich">Sandwich</label>
                
                <input type="radio" class="btn-check" name="categoria" id="btn-in-hamburguesas" autocomplete="off" value="Hamburguesas">
                <label class="btn btn-outline-primary" for="btn-in-hamburguesas">Hamburguesas</label>