
<form id="formulario" hx-ext="ws" ws-connect="ws/" ws-send>
    {% csrf_token %}
    <div class="row bg-light text-dark my-3 rounded">
        <div class="col">
            <h3 class="my-0 text-break" id="mesa-seleccionada">No hay Mesa seleccionada</h3>
            <input type="hidden" name="mesa-seleccionada" id="input-mesa-id" required id="input-mesa-id">
        </div>
    </div>
    <div class="row my-3 rounded">
        <div class="col">
            <div class="row text-break bg-light text-dark rounded">
                <h3 class="my-0" id="plato-seleccionado">Platos</h3>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <ul id="lista-platos" class="list-group mb-1">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row text-break bg-light text-dark rounded">
                <h3 class="m-0">Bebidas</h3>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <ul id="lista-bebidas" class="list-group mb-1">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 rounded">
        <div class="col">
            {% if error %}
            <div id="error-msg" class="alert alert-danger my-3" style="display: none;">
                <strong>Error: {{ error }}</strong><span id="error-text"></span>
            </div>
            {% elif warning %}
            <div id="error-msg" class="alert alert-warning my-3" style="display: none;">
                <strong>Atención: {{ warning }}</strong><span id="error-text"></span>
            </div>
            {% endif %}
            <button type="submit" name='solicitar-cocina' class="btn btn-info">Solicitar</button>
        </div>
    </div>
</form>

<hr>

<div class="row rounded my-1 bg-light text-dark">
    <div class="col">
        <h3>Tus pedidos</h3>
    </div>
</div>
    {% if pedidos %}
    
    {% for pedido in pedidos %}
        <div class="row rounded my-1 bg-light text-dark">
            <div class="col">
                <h4 class="my-0">Mesa: {{ pedido.camarero_mesa.numero_mesa }}</h4>
                <p class="my-0">Platos: {{ pedido.plato }}</p>
                <p class="my-0">Cantidad:  #{{ pedido.total }}</p>
                <p class="my-0">
                    Servido: 
                    {% if pedido.servido == None %}
                        Preparandose
                        {% elif pedido.servido == True %}
                        Servido
                        {% else %}
                        Recoge
                    {% endif %}
                </p>
                <p class="my-0">Tiempo: {{ pedido.tiempo|date:"H:i" }}</p>
            </div>
        </div>
    {% endfor %}        
{% endif %}