<form method="POST" id="formulario">
    {% csrf_token %}
    <div class="row bg-light text-dark my-3 rounded">
        <div class="col">
            <h3 class="my-0 text-break" id="mesa-seleccionada">No hay Mesa seleccionada</h3>
            <input type="hidden" name="mesa-seleccionada" id="input-mesa-id" required id="input-mesa-id">
        </div>
    </div>
    <div class="row my-3 rounded">
        <div class="col">
            <div class="row text-break bg-light text-dark rounded">
                <h3 class="my-0" id="plato-seleccionado">Platos</h3>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <ul id="lista-platos" class="list-group mb-1">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <div class="row text-break bg-light text-dark rounded">
                <h3 class="m-0">Bebidas</h3>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <ul id="lista-bebidas" class="list-group mb-1">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3 rounded">
        <div class="col">
            <button type="submit" name='solicitar-cocina' class="btn btn-info">Solicitar</button>
        </div>
    </div>
</form>

<hr>

<div class="row my-0 bg-light text-dark rounded mb-5">
    <div class="row rounded my-1">
        <div class="col">
            <h3>Tus pedidos</h3>
        </div>
    </div>
    {% for pedido in pedidos %}
        <div class="row rounded my-1">
            <div class="col">
                <h4 class="my-0">Mesa: {{ pedido.camarero_mesa }}</h4>
                <p class="my-0">Platos: {{ pedido.plato }} #{{ pedido.total }}</p>
                <p class="my-0">
                    Servido: 
                    {% if pedido.servido == None %}
                        Preparandose
                    {% elif pedido.servido == True %}
                        Servido
                    {% else %}
                        Recoge
                    {% endif %}
                </p>
                <p class="my-0">Tiempo: {{ pedido.tiempo|date:"H:i" }}</p>
        </div>
    {% endfor %}
</div>
