<div class="mt-2 p-2 border border-secondary rounded">
    <table class="table table-striped table-dark table-bordered">
        <thead>
            <tr>
                <th class="w-auto">Num#</th>
                <th>Nombre</th>
                <th>Categoria</th>
            </tr>
            <tr>
                <th colspan="3" class="text-center">Descripcion</th>
            </tr>
        </thead>
        <tbody>
            {% for plato in platos %}
            <tr id="tabla-platos">
                <td>
                    <button 
                        type="button"
                        name='seleccionar-plato'
                        value='{{plato.id}}'
                        onClick="seleccionarProducto('plato-{{ plato.id }}')"
                        class="btn btn-outline-light me-2">
                        {{ plato.numero_menu }}
                    </button>
                </td>
                <td>
                    {{ plato.plato.nombre }}
                </td>
                <td>
                    {{ plato.categoria.nombre }}
                </td>
            </tr>
            <tr id="tabla-platos">
                <td colspan="3">{{ plato.plato.descripcion }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>