/* @media (max-width: 767px ) {
    .responsive {
        overflow: auto;
        width: 200px;
    }

} */

/* @media screen and (max-width: 830px) {
    .responsive {
        overflow: auto;
        width: 200px;
    }
} */

@media screen and (max-height: 500px) {
    .responsive {
        overflow: auto;
        display: none;
    }

}

@media screen and (max-width: 400px) {
    .responsive {
        overflow: auto;
        width: 100% !important;
    }

    .flex-responsive {
        display: flex;
        flex-wrap: wrap !important;
    }
}
