{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoManager: {% block title %} {% endblock %}</title>
    <!-- {% load static%} -->
    <link rel="stylesheet" href="{% static 'style/bootstrap/bootstrap.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'style/style.css'%}"/>

</head>
<body>
    <!-- HEADER -->
    <div class="container-fluid bg-dark p-4 text-white">
        <h1><strong>RestoManager</strong></h1>
    </div>

    <div class="row m-auto mt-2 p-4 bg-dark text-white w-75">
        <div class="btn-group" role="group" aria-label="Basic radio toggle button grou p">
            <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off">
            <label class="btn btn-dark btn-nav border" for="btnradio1">Bebidas</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-dark btn-nav border" for="btnradio2">Platos</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-dark btn-nav border" for="btnradio3">Usuarios</label>
          </div>
    </div>

    <script src="{% static 'script/script.js'%}"></script>
    <script src="{% static 'script/bootstrap/bootstrap.min.js'%}"></script>
</body>
</html>