{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoManager: {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'style/bootstrap/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'style/style.css'%}" />
    <link rel="stylesheet" href="{% static 'style/login_responsive.css'%}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">

</head>

<body>
    <section style="margin-bottom: 100px;">
        {% block content %}
        {% endblock content %}
    </section>
    <footer class="mt-5 bg-dark text-center text-white bottom-0">
        {% include 'global/footer.html' %}
    </footer>
</footer>
    <script src="{% static 'script/restoManager-script.js'%}"></script>
    <script src="{% static 'script/bootstrap/bootstrap.min.js'%}"></script>
</body>

</html>