{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RestoManager: {% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'style/bootstrap/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'style/style.css'%}" />
    <link rel="stylesheet" href="{% static 'style/login_responsive.css'%}">
    <link rel="stylesheet" href="{% static 'style/responsive.css'%}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    <script src="https://unpkg.com/htmx.org@1.8.5"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>

<body hx-ext="ws" ws-connect="/ws/test/">
    <div  style="min-height:calc(90vh - 140px);">
        {% block content %}
        {% include 'lista_pedidos' %}
        {% endblock content %}
            
    </div>
    <footer class="container-fluid position-static fixed-bottom mt-5 bg-dark text-white bg-warning m-0 w-100 responsive-footer eliminar-on-teclado" style="height:auto;">
        {% include 'global/footer.html' %}
    </footer>
    <script src="{% static 'script/restoManager-script.js'%}"></script>
    <script src="{% static 'script/bootstrap/bootstrap.min.js'%}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>