{% extends 'cocina/index.html' %}
{% block title %} Cocina {% endblock %}
{% block content %}
{% include 'global/header.html' %}
{% if es_cocinero %}
    <div class="container pb-5 my-5">
        {% if error == None %}
        <div class="panel_insertar bg-dark rounded row mb-3">
            <h1 id="titulo-seccion-superior" class="text-light">Pendientes.</h1>
        </div>
        <div class="row overflow-auto" id="card-pedidos">
            <!-- <div class="row overflow-auto" id="card-pedidos" hx-get="{% url 'cocina' %}" hx-trigger="load, every 3s"> -->
        {% if mesas %}
          
            {% for pedido in mesas %}
            <div class="col-lg-3">
                <div class="card mb-3">
                    <div class="card-header bg-dark text-light">
                        Mesa #{{pedido.camarero_mesa__numero_mesa}} [{{pedido.camarero_mesa__ubicacion__lugar}}]
                    </div>
                    <div class="card-body p-3">
                        <p class="card-text">Total pedidos: #{{pedido.pedidos_total_plato}}</p>
                        <form class="text-center" method="GET">
                            <button type="submit" name="listar_mesa" value="{{pedido.camarero_mesa}}" class="btn btn-primary w-100 mt-2">Ver detalles</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <p class="card-subtitle">{{pedido.hora_dia}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
        {% if platos %}
        <div class="panel_listado bg-dark rounded row">
            <h1 class="text-light">Mesa {{ platos.camarero_mesa.numero_mesa }} - {{ platos.camarero_mesa.ubicacion__lugar }}</h1>
        </div>
        <div class="card my-3 text-center">
            <div class="card-body">
                <!-- <h5 class="card-title"></h5> -->
                <div class="row justify-content-center border-1 border-bottom my-0 pb-2">
                    <div class="col-sm-4">
                        <span title="Plato a Preparar"><h3 class="m-0"><strong>Plato</strong></h3></span>
                    </div>
                    <div class="col-sm-4">
                        <span title="Fecha de peticion"><h3 class="m-0"><strong>Tiempo</strong></h3></span>
                    </div>
                    <div class="col-sm-4">
                        <span title="Acciones y estados"><h3 class="m-0"><strong>Estado</strong></h3></span>
                    </div>
                </div>
                {% for plato in platos.platos %}
                <div class="row mt-3 justify-content-center">
                    <div class="col-sm-4">
                        <!-- <span class="badge bg-primary">{{ plato.total }}</span> -->
                        {{ plato.plato }}
                    </div>
                    <div class="col-sm-4">
                        <span class="badge bg-info">{{ plato.tiempo }}</span>
                    </div>
                    <div class="col-sm-4">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="listar_mesa" value="{{ listar_mesa }}">
                                {% if plato.servido == null %}
                                <button type="button" class="btn btn-danger btn-sm" disabled>No preparado</button>
        
                                <button type="submit" name="cambiar-estado" value="{{ plato.id }}-False" class="btn btn-warning btn-sm" title="Cambiar el esatdo a 'Prerpado' para que el camarero sepa.">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right " viewBox="0 3 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                    {% elif plato.servido == False %}
                                    <button type="submit" name="cambiar-estado" value="{{ plato.id }}-Null" class="btn btn-danger btn-sm" title="Cambiar el estado a 'No Preparado'." data-bs-toggle="tooltip" data-placement="top" data-bs-original-title="Cambiar el estado a 'Listo' para que el camarero lo sirva.">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 3 16 16">
                                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                                        </svg>
                                    </button>
                                    <button type="button" class="btn btn-warning btn-sm" disabled title="El plato esta preparado, a la espera de que el camarero lo sirva.">Preparado</button>
                                    {% elif plato.servido %}
                                    <button type="button" class="btn btn-success btn-sm" disabled title="El plato ya fue servido.">Servido</button>
                                    <button type="submit" name="cambiar-estado" value="{{ plato.id }}-Null" class="btn btn-danger btn-sm" title="Cambiar el esatdo a 'No Preparado' para que el camarero lo devuelva.">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right " viewBox="0 3 16 16">
                                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                                        </svg>
                                    </button>
                                    {% endif %}
                                </form>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center mt-5" style="height: 100px;">
                <div class="alert alert-danger text-center" role="alert">
                    <h4 class="alert-heading">¡Ups!</h4>
                    <p>{{ error }}</p>
                    <a href="javascript:history.back()" class="btn btn-info mt-2"><i class="bi bi-arrow-left-short"></i> Volver Atrás</a>
                </div>
            </div>
        {% endif %}
    </div>
{% else %}
{% endif %}
{% endblock content %}
